
.product {
    display: flex;
    flex-wrap: wrap;

    &__item {
        width: 45%;
        margin-right: 20px;
        border: 1px solid #000;
        margin-bottom: 20px;
    }

    &__image {
        width: 100%;
        aspect-ratio: 4/3;
        object-fit: cover;
    }

    &__price-new {
        font-size: 20px;
        font-weight: 700;
        color: green;
    }

    &__price-old {
        text-decoration: none;
        font-weight: 700;
    }

    &__percent {
        font-weight: 700;
        color: orange;
    }
}